.chart-token-selector {
  white-space: nowrap;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0!important;
}

.chart-token-selector--current {
  font-size: 2.15rem;
  font-weight: 700;
  margin-right: 1.9rem;
  color: white;
}

.chart-token-menu-items.menu-items {
  min-width: auto;
  width: auto;
  top: calc(100% + 5px);
  right: unset;
  left: 0;
  background-color: #181A3C;
  box-shadow: 3px 0 20px #060d21;
  cursor: default;

  @media (max-width: 768px) {
    top: calc(100% + 10px);
  }
}

.chart-token-menu-items .menu-item {
  width: auto;
  font-size: 20px;
  line-height: calc(26/20);
  font-weight: 400;
  color: #a0a3c4;
  cursor: pointer;
  padding: 5px 14px 5px 15px;
}
.chart-token-menu-items .menu-item span {
  font-family: "Electrolize", sans-serif;
}

.chart-token-menu-items .menu-item:hover {
  color: #6988FF;
  background-color: transparent!important;
}

.chart-token-menu-items .menu-item:first-child {
  padding-top: 15px;
}
.chart-token-menu-items .menu-item:last-child {
  padding-bottom: 15px;
}

.chevron-down {
  transform: translateY(-30%);
}